@charset "utf-8";

/*ellipsis*/
.ellip {
  display: block;
  height: 100%;
}

.ellip-line {
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
  max-width: 100%;
}

.ellip,
.ellip-line {
  position: relative;
  overflow: hidden;
}
/*ellipsis end*/

.detailWrap::after,
.brandInfoBox::after,
.brandStatus::after {
  content: "";
  display: block;
  clear: both;
}
.projectTitle {
  position: relative;
  color: #fff;
  padding: 50px 0;
  overflow: hidden;
  user-select: none;
}
.projectTitle h2,
.projectTitle h3 {
  text-align: center;
  margin-bottom: 20px;
  cursor: pointer;
}
.projectTitle h2 {
  font-size: 2.1rem;
  font-weight: 600;
}
.projectTitle h3 {
  padding-top: 35px;
  color: #00b2b2;
}
.projectTitle .overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: #353535;
  background-position: 50% 50%;
  background-size: cover;
  filter: brightness(0.8) blur(5px);
  transform:scale(1.2);
}

ul.detailNav {
  clear: both;
  min-width: 384px;
  margin: 0 auto;
  text-align: center;
  border-top: 1px solid #f0f2f5;
  border-bottom: 3px solid #e5e5e5;
  background-color:#fff;
  user-select: none;
}

ul.detailNav li a {
  height: 48px;
  line-height: 48px;
  /* padding: 0 5px; */
  display: inline-block;
  text-align: center;
  color: #353535;
  font-weight: 400;
}

ul.detailNav li {
  display: inline-block;
}

ul.detailNav li:not(:last-child) {
  margin-right: 30px;
}

ul.detailNav li.on::after {
  display: block;
  position: relative;
  top: 3px;
  width: 100%;
  height: 3px;
  background-color: #00b2b2;
  content: "";
}

ul.detailNav a span.badge {
  display: inline;
  position: relative;
  top: -3px;
  font-size: 0.85rem;
  font-weight: 400;
  margin: 0 3px;
  color: #00b2b2;
}

.detailWrap {
  clear: both;
  max-width: 1024px;
  margin: 0 auto;
  /* display: flex;
  display: -ms-flexbox; */
}

.detailWrap > * {
  padding: 35px 0;
  box-sizing: border-box;
}

img.fullWidth{
	width:100%;
}

.detailSummary p {
	margin:24px 0;
}

.detailContent {
  overflow: hidden;
  float: left;
  width: calc(100% - 364px);
}

.detailContent p.number{
  margin-bottom: 17px; 
  font-size: 20px;
  color: #00c4c4;
  font-weight: 500;
  font-family: Arial;
}

.detailContent p.newsTitle{
	display: inline-block;
    font-size: 20px;
    color: #676363;
    font-weight: 500;
    margin-bottom:20px;
}

.detailContent .newsMore .btnNewsMore{
	display: block;
	width:100%;
	height:40px;
	text-align:center;
	font-size:1.2rem;
	border:0;
    transition-property: color;
    transition-duration: .2s;
    background: none;
    cursor: pointer;
    color: rgba(0,0,0,.54);
}

.detailContent .newsMore .btnNewsMore:hover{
	color:#000;
	font-weight:700;
}

.detailContent .newsMore .btnNewsMore .bgMore{
	margin-left:10px;
	display:inline-block;
	width:10px;
	height:10px;
	vertical-align:middle;
	background:url("../images/main/arrow-back-gray.png") no-repeat;
	background-size:100%;
	transform:rotate(-90deg);
}

hr.divider {
    margin-top: 32px;
    margin-bottom: 32px;
    border: 0;
    border-color: rgba(0,0,0,.1);
    background: #e6eaed;
    width: 100%;
    height: 1px;
}

hr.divider.deeper{
	margin-top: 32px;
    margin-bottom: 32px;
}
}

.detailContent > * {
  width: 100%;
}

.detailSide {
  padding-left: 30px;
  padding-right: 30px;
  float: right;
  margin-left: 10px;
  min-width: 354px;
  max-width: 354px;
}

.detailSideController .btnPlain{
	color:#4a4a4a;
	font-weight:300;
}

p.stateText {
  color: #4a4a4a;
  padding: 20px 0;
}

p.stateText strong {
  font-weight: 600;
  font-size: 1.8rem;
  margin-right: 5px;
}

p.stateText:first-child {
  padding-left: 3px;
  font-size: 1.77rem;
  font-weight: 600;
  margin-bottom: 8px;
}
p.stateText:last-child {
  margin-bottom: 35px;
}

.detailSide a.btnSubmit {
  width: 100%;
}

.detailSideController {
  padding: 10px 0;
  display: flex;
  display: -ms-flexbox;
  justify-content: space-between;
  -ms-flex-pack: justify;
}

.detailSideController li {
  width: calc(36% - 5px);
}
.detailSideController li:not(:last-child) {
  margin-right: 5px;
}

span.icon {
  position: relative;
  top: 4px;
  left: -5px;
  margin-right: 5px;
  display: inline-block;
  line-height: 47px;
  width: 20px;
  height: 20px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-color: transparent;
}

span.icon.heart {
  background-image: url("../images/detail/btn_icon_heart_blank.png");
}
span.icon.heart.on{
	background-image: url("../images/detail/btn_icon_heart_filled.png");
}
span.icon.talk {
  background-image: url("../images/detail/btn_icon_comment.png");
}
span.icon.share {
  background-image: url("../images/detail/btn_icon_share.png");
}

.brandInfoBox {
  width: 100%;
  border: 1px solid #e6eaed;
}
.brandInfoBox a {
  display: block;
  height: 40px;
  line-height: 40px;
  margin: 10px;
}
.brandInfoBox a span {
  display: inline-block;
  height: 100%;
}

.brandInfoBox span.image {
  width: 40px;
  margin-left: 10px;
  margin-right: 15px;
  background-image: url("../images/detail/user-64.png");
  background-repeat: no-repeat;
  background-size: 100%;
  vertical-align: middle;
}
.brandInfoBox span.name {
  font-size: 1.1rem;
}

.brandInfoBox .brandStatus {
  text-align: center;
  margin: 20px 0;
}

.brandInfoBox .brandStatus h5 {
  text-align: left;
  margin-bottom: 5px;
}

.brandInfoBox .brandStatus .statusItem {
  display: inline-block;
  width: 25%;
  padding: 5px;
}

.btnComponent {
  padding: 0 20px;
}

.brandInfoRowInner {
  padding: 20px;
  color: #60656a;
  line-height: 1.4rem;
  font-size: 0.9rem;
  background-color: #fafbfc;
}
.brandInfoRowInner a {
  color: #7686bf;
}

.brandInfoBoxRow > p {
  color: #60656a;
  margin: 20px 0;
  padding: 0 20px;
}

.brandInfoBoxRow {
  margin: 25px 0 0;
  border-top: 1px solid #e6eaed;
}

.rowBox {
  user-select: none;
  margin: 20px 0;
}

.rowBox h3 {
  margin: 20px 0 10px;
  user-select: none;
}

.rowBoxInner h4.large {
  font-size: 1rem;
}

.rowBox.border {
  border: 1px solid #eaeaea;
  padding: 15px;
  font-size: 0.88rem;
  position: relative;
}

.rowBoxInner > *:not(:first-child) {
  margin: 10px 0 0;
}

p.gray {
  color: #60656a;
}

p.small {
  font-size: 0.85rem;
  line-height: 1rem;
}

.rewardItem {
  border: 1px solid #eaeaea;
  padding: 15px;
  color: #60656a;
  cursor: pointer;
  position: relative;
  margin-bottom:24px;
}

.rewardItem:hover .overlay {
  opacity: 0.8;
}

.rewardItem:hover .overlay.black{
	opacity:0.6;
}

.rewardItem .overlay {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background-color: #00b2b2;
  opacity: 0;
  transition: opacity linear 0.2s;
  display: flex;
  display: -ms-flexbox;
  align-items: center;
  -ms-flex-align: center;
  line-height:1.4rem;
}

.rewardItem .overlay.black{
	background-color:#000;
	cursor:not-allowed;
}

.rewardItem .overlay p {
  width: 100%;
  color: #fff;
  font-weight: 700;
  font-size: 1.1rem;
  text-align: center;
  user-select: none;
}

.rewardItem > dl {
  margin: 0 0 30px;
}

.rewardItem dl.rewardInfo dt {
  color: #333;
  font-weight: bold;
  font-size: 1.2rem;
  margin: 10px 0;
}

.rewardItem dl.rewardOptions dt {
  font-weight: bold;
}
.rewardItem dl.rewardOptions dd {
  color: #333;
}

.rewardItem .rewardOptions > * {
  margin: 10px 0;
}

.rewardItem dl.rewardOptions {
  font-size: 0.88rem;
}

.rewardItem dl p,
.rewardItem .rewardQuantity span {
  margin: 10px 0;
  font-size: 0.88rem;
}

.rewardItem .rewardQuantity .mint {
  color: #00b2b2;
  padding: 0 2px;
}


.rewardItem .limitQuantity,
.rewardItem .remainingQuantity {
  font-size: 0.88rem;
  font-weight: 700;
}

.rewardItem .highlighting {
  color: #00b2b2;
  background-color: #e7f9f9;
}

.rewardItem .rewardQuantity .highlighting.red{
	color:#f89ba6;
	background-color:#feebed;
}
.rewardItem .rewardQuantity .highlighting.red strong{
	font-weight:600;
}

.rewardItem .quantityRow {
  margin: 10px 0;
}

.reports #reportProject {
  height: 35px;
  line-height: 35px;
}

.rank h4::after {
  margin: 10px 0 0;
  content: "";
  display: block;
  background-color: #dddddd;
  width: 100%;
  height: 1px;
}


.rank .rankNumber {
  display: block;
  position:absolute;
  width: 18px;
  height: 18px;
  line-height: 18px;
  text-align: center;
  margin-right: 8px;
  font-size: 0.85rem;
  background-color: #90949c;
  color: #fff;
}

.rankList {
  padding: 2px;
}

.rankList li {
  position:relative;
  margin: 2px 0;
}

.rankList p{
  width:90%;
  padding-left:30px;
  margin:10px 0;
}

.rankList li a {
  font-weight: 400;
  width:100%;
}

/*반응형*/

@media (max-width: 1097px) {
}

@media (max-width: 768px) {
  .projectTitle {
    display: none;
  }
  .detailContent {
    clear: both;
    margin-top: 30px;
    padding: 20px;
    min-width: 100%;
  }
  .detailSide {
    min-width: 100%;
  }
  .detailSideController {
    display: none;
  }
}

@media (max-width: 500px) {
  ul.detailNav li:not(:last-child) {
    margin-right: 15px;
  }
}
