@charset "UTF-8";
strong{
	font-weight:600;
}

.full{
	width:100%;
}

.border{
	border:1px solid #d9d9d9;
	border-radius:3px;
	height:45px;
	line-height:45px;
	transition:all ease-in-out 0.2s;
}

.border:hover{
	border-color:#39d1d1;
}

.historyRewardAmount::after{
	clear:both;
	display:block;
	content:"";
}

.historyItem,
.historyRewardItem,
.historyRewardPayment{
	margin-top:30px;
	user-select:none;
	cursor:pointer;
}

.historyItem,
.historyRewardItem,
.historyRewardPayment{
	width:100%;
	border:1px solid #f2f2f2;
	background-color:#fff;
	padding:10px 20px 5px 20px;
	box-sizing:border-box;
}

.historyRewardPayment{
	padding-bottom:10px;
}

.historyItem > * ,
.historyRewardItem > *,
.historyRewardPayment > *{
	margin:10px 0;
}

.historyCategory,
.historyBrandName,
.historyDate{
	font-size:0.8rem;
	color:#969aa1;
}

.historyProjectStatus{
	margin-top:20px;
	font-size:0.75rem;
	color:#969aa1;
}

.historyProjectName{
	font-weight:600;
	font-size:1.3rem;
}

.historyRewardTitle{
	font-weight:600;
	font-size:1.1rem;	
}

.historyStatus{
	margin-top:40px;
	font-weight:600;
}

.historyDate{
	text-align:right;
}

.blue{
	color:#557cf2;
}
.red{
	color:#f77;
}

.historyRewardAmount span.left{
	float:left;
}

.historyRewardAmount span.right{
	float:right;
}

/*더보기*/
 .btnNewsMore{
	display: block;
	width:100%;
	height:40px;
	text-align:center;
	font-size:1.2rem;
	border:0;
    transition-property: color;
    transition-duration: .2s;
    background: none;
    cursor: pointer;
    color: rgba(0,0,0,.54);
}

.newsMore .btnNewsMore:hover{
	color:#000;
	font-weight:700;
}

.newsMore .btnNewsMore .bgMore{
	margin-left:10px;
	display:inline-block;
	width:10px;
	height:10px;
	vertical-align:middle;
	background:url("../images/main/arrow-back-gray.png") no-repeat;
	background-size:100%;
	transform:rotate(-90deg);
}
