@charset "UTF-8";

.guidecreate {
	width: 60%;
	margin: 0px auto;
	padding-top: 35px;
}

.guidecreate ul{
	margin-bottom: 20px;
}

.guidesname {
	float: left;
}

.guideInput {
	margin-left: 10px;
}

.guidebottombutton {
	margin: 0px auto;
}