@charset "UTF-8";

.guidecreate {
	width: 60%;
	margin: 0px auto;
	padding-top: 35px;
}

.guidecreate ul{
	margin-bottom: 20px;
}

.guideborder {
	border-bottom: 1px solid silver;
	padding-bottom: 9px;
}

.guidesname {
	float: left;
	width: 50px;
	padding-right: 15px;
}

.guideInput input {
	width: 80%;
}

.guideInput textarea {
	width: 80%;
}

.guidebottombutton {
	width: 100%;
	text-align: center;
}