@charset "UTF-8";

.guideheader {
	width : 100%;
	height: 200px;
	background-color: black;
}

.headerinput {
	background-color: silver;
	position: static;
	border-radius: 5px;
	border: 1px solid silver;
	width: 60%;
	height: 60px;
	font-size: 25px;
	color: rgba(255,255,255,0.7);
}

.img-button {
	background-color: silver;
	border: 1px solid silver;
	border-radius: 5px;
}

.textqnaInner{
	position:relative;
	width:1440px;
	margin: 0 auto;
} 

.textqnaInner a.btnGuideInfoSearch {
	position:absolute; 
	right:0;
	top: 0;
	display:block;
	width:50px;
	height:50px;
	background-image: url('../images/search.png');
	background-repeat: no-repeat;
	background-size:100%;
	box-sizing: border-box;
	margin-top: 8px;
}

.textqnaInner input{
	width:100%;
}
.textqnaInner input:focus {
	background: white;
	color: black;
}

.infotitle {
	margin: 10px;
	width: 60%;
	text-align: center;
	font-weight: bold;
	font-size: 20px;
	color: silver;
}

.guidebox {
	width: 900px;
	height: 150px;
	margin: 0px auto;
	margin-top: 10px;
	background: #FFFFFF;
	padding: 10px;
	border-radius: 5px;
}

.boxcontent span{
	padding: 17px;
	padding-top: 7px;
}

.boxinfo {
	border: 1px solid silver;
	background : silver;
	width: 900px;
	height: 150px;
	margin: 0px auto;
	margin-top: 10px;
	padding: 10px;
	border-radius: 5px;
}
