@charset "UTF-8";

.guideheader {
	width : 100%;
	height: 200px;
	background-color: #1d2129;
}

.qlogo {
	font-weight: 900;
    font-size: 1.8em;
    padding: 12px 0 18px;
    color: white; 
    padding-left: 90px;
}

.headerinput {
	width: 100%;
    padding: 20px 32px 21px 59px;
    background: rgba(255,255,255,0.2);
    border: none;
    outline: none;
    color: rgba(255,255,255,0.7);
    font-size: 18px;
    border-radius: 4px;
}

.img-button {
	background : none;
	border: none;
	color: white;
	font-size: 23px;
}

.textqna {
	text-align: center;
	width: 900px;
	margin-left: 270px;
}

.textqnaInner{
	position:relative;
	width:1440px;
	margin: 0 auto;
} 

.btnGuideInfoSearch {
	float:left;
	display:block;
	width:50px;
	height:50px;
	background-size:100%;
    margin-top: -57px;
}

.textqnaInner input{
	width:100%;
}
.textqnaInner input:focus {
	background: white;
	color: black;
}

.searchtitle {
	margin: 10px;
	width: 60%;
	text-align: center;
	font-weight: bold;
	font-size: 20px;
	color: silver;
}

.guide_form {
	width: 1100px;
	height: 2000px;
	margin: 0px auto;
	background: #f3f5f7;
}


.guidebox {
	width: 900px;
	height: 150px;
	margin: 0px auto;
	margin-top: 10px;
	background: #FFFFFF;
	padding: 10px;
	border-radius: 5px;
	margin-bottom: 25px;
}

.guideicon {
	float: left;
	width: 110px;
	height: 100px;
	font-size: 65px;
	margin-left: 30px;
	color: #818a97;
}

.guideicon {
	float: left;
	width: 100px;
	height: 100px;
	font-size: 68px;
	margin-left: 10px;
	color: silver;
}

.boxcontent span{
	padding: 17px;
	padding-top: 7px;
}

.guideinfo {
	width: 900px;
	margin: 0px auto;
	margin-top: 10px;
	background-color: #ebeef1;
	padding: 10px;
	border-radius: 5px;
	margin-bottom: 25px;
}

.bbuuttoon {
	background: white;
	border-radius: 4px;
	border: 1px solid #eeeeee;
	font-size: 13px;
	padding: 7px;
}

.faqwpahr {
	display: block;
	font-size: 30px;
	margin: 20px;
	padding-left: 40px;
	font-weight: normal;
}

.faqekqrmf {
	display: block;
	font-size: 20px;
	margin: 20px;
	padding-left: 90px;
}
