<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="adminBrand">

	<sql id="where-list">
		<choose>
			<when test="condition == 'brandName' ">
				(INSTR(brandName, #{keyword}) &gt; 0)
			</when>
			<when test="condition == 'managerName' ">
				(INSTR(managerName, #{keyword}) &gt; 0)
			</when>
		</choose>
	</sql>

	<select id="dataCount" parameterType="map" resultType="Integer">
		SELECT NVL(COUNT(*), 0) FROM brand b
		JOIN member_detail m ON b.memberNo = m.memberNo
		<where>
			<if test="keyword!=null and keyword!='' ">
				<include refid="where-list"/>
			</if>
		</where>
	</select>

	<select id="listBrand" parameterType="map" resultType="com.eydiz.admin.brand.Brand">
		SELECT b.memberNo, brandNo, brandName, managerName, managerEmail, managerPhone 
		FROM brand b
		JOIN member_detail m ON b.memberNo = m.memberNo
		<where>
			<if test="keyword!=null and keyword!='' ">
				<include refid="where-list"/>
			</if>
		</where>
		ORDER BY m.memberNo DESC
		OFFSET #{offset} ROWS FETCH FIRST #{rows} ROWS ONLY
	</select>

	<select id="readBrandList" parameterType="Integer" resultType="com.eydiz.admin.brand.Brand">
		SELECT b.memberNo, brandNo, brandName, managerName, managerEmail, managerPhone 
		FROM brand b
		JOIN member_detail m ON b.memberNo = m.memberNo
		WHERE brandNo = #{brandNo}
	</select>

</mapper>