<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="awards">

<!-- WHERE p.statusNo=6 AND EXTRACT(YEAR FROM projectEndDate) = 2020 AND (projectAttainAmount/projectGoalAmount*100) &gt;= 100 -->


<!-- 판매금액 가장 많은 top 5 -->
<select id="bestSeller" resultType="com.eydiz.awards.Awards">
	SELECT 
        p.projectNo, b.brandNo, b.brandName, p.projectName, c.categoryName, p.projectImageUrl,
        NVL(totalAmount,0) totalAmount,
        NVL(TRUNC(totalAmount/p.projectGoalAmount*100,1),0) percentage
    FROM project p
    JOIN brand b ON b.brandNo = p.brandNo
    JOIN project_category c ON c.categoryNo = p.categoryNo
    LEFT OUTER JOIN (
        SELECT DISTINCT 
            projectNo, NVL(SUM(totalAmount) OVER(PARTITION BY projectNo), 0) - NVL(SUM(canceledAmount) OVER(PARTITION BY projectNo),0) totalAmount
            ,NVL(SUM(totalAmount) OVER(PARTITION BY projectNo), 0) investedAmount, NVL(SUM(canceledAmount) OVER(PARTITION BY projectNo),0) canceledAmount
        FROM reward_buy_overview ro
        JOIN reward_buy_detail rd ON rd.buyNo = ro.buyNo
        LEFT OUTER JOIN reward_buy_cancel rc ON rc.buyNo = ro.buyNo
    ) total ON total.projectNo = p.projectNo
    WHERE p.statusNo in (5, 6)
    ORDER BY totalAmount DESC
    FETCH FIRST 5 ROWS ONLY
</select>

<!-- 달성률 가장 높은 top 5 -->
<select id="highestPercentage" resultType="com.eydiz.awards.Awards">
	SELECT 
        p.projectNo, b.brandNo, b.brandName, p.projectName, c.categoryName, p.projectImageUrl,
        NVL(totalAmount,0) totalAmount,
        NVL(TRUNC(totalAmount/p.projectGoalAmount*100,1),0) percentage
    FROM project p
    JOIN brand b ON b.brandNo = p.brandNo
    JOIN project_category c ON c.categoryNo = p.categoryNo
    LEFT OUTER JOIN (
        SELECT DISTINCT 
            projectNo, NVL(SUM(totalAmount) OVER(PARTITION BY projectNo), 0) - NVL(SUM(canceledAmount) OVER(PARTITION BY projectNo),0) totalAmount
            ,NVL(SUM(totalAmount) OVER(PARTITION BY projectNo), 0) investedAmount, NVL(SUM(canceledAmount) OVER(PARTITION BY projectNo),0) canceledAmount
        FROM reward_buy_overview ro
        JOIN reward_buy_detail rd ON rd.buyNo = ro.buyNo
        LEFT OUTER JOIN reward_buy_cancel rc ON rc.buyNo = ro.buyNo
    ) total ON total.projectNo = p.projectNo
    WHERE p.statusNo in (5, 6)
    ORDER BY percentage DESC
    FETCH FIRST 5 ROWS ONLY
</select>


<!-- 프로젝트를 가장 많이 보유한 브랜드 -->
<select id="brandProjectRank" resultType="com.eydiz.awards.Awards">
	SELECT ROWNUM, r.* FROM (
		SELECT p.brandNo,brandName, COUNT(projectNo) projectAmount, memberImageUrl, managerName, managerEmail
		FROM brand b
        LEFT JOIN (
            SELECT memberImageUrl, memberNo
            FROM member_detail
        ) md ON b.memberNo = md.memberNo
		JOIN project p ON b.brandNo = p.brandNo 
        WHERE statusNo = 5 OR statusNo=6
		GROUP BY p.brandNo,brandName, memberImageUrl, managerName, managerEmail
		ORDER BY projectAmount DESC
	)r
	WHERE ROWNUM &lt;= 5
</select>

</mapper>