<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="member">
	
	<!-- 아이디 기반으로 회원정보 읽기 -->
	<select id="readMemberById"  parameterType="String" resultType="com.eydiz.member.Member">
		SELECT 
		    m.memberNo, memberId, memberNickname, 
		    memberPwd, memberEmail, memberSocial, available
		FROM member m
		JOIN member_detail md ON m.memberNo = md.memberNo
		WHERE memberId = #{memberId}
	</select>
	
	<!-- 이메일 기반으로 회원정보 읽기 -->
	<select id="readMemberByEmail"  parameterType="String" resultType="com.eydiz.member.Member">
		SELECT 
		    m.memberNo, memberId, memberNickname, 
		    memberPwd, memberEmail, memberSocial, available
		FROM member m
		JOIN member_detail md ON m.memberNo = md.memberNo
		WHERE memberEmail = #{memberEmail}
	</select>
	
	<!-- 로그인 정보 확인 -->
	<select id="confirmMember" parameterType="com.eydiz.member.Member" resultType="com.eydiz.member.Member">
		SELECT 
		    m.memberNo, memberId, memberNickname, 
		    memberPwd, memberEmail, memberSocial, available
		FROM member m
		JOIN member_detail md ON m.memberNo = md.memberNo
		WHERE memberId = #{memberId} AND memberPwd = #{memberPwd} AND available = 1
	</select>
	
	<!-- 회원 등록하기 -->
	<select id="getNewMemberNo" resultType="Integer">
		SELECT member_seq.NEXTVAL FROM dual
	</select>
	
	<update id="insertMember" parameterType="com.eydiz.member.Member">
		INSERT ALL 
		INTO member(memberNo, available) VALUES(#{memberNo}, 1)
		INTO member_detail(memberNo, memberId, memberNickname, memberPwd, memberEmail, memberSocial)
		VALUES (#{memberNo}, #{memberId}, #{memberNickname}, #{memberPwd}, #{memberEmail}, #{memberSocial})
		SELECT * FROM dual
	</update>
	
	<!-- 
	마이바티스 이용시 insert into select를 하면
	"; bad SQL grammar []; nested exception is java.sql.SQLSyntaxErrorException: ORA-00933: SQL 명령어가 올바르게 종료되지 않았습니다" 00933에러를 보게된다. 
	insert를 update로 바꿔 주면 된다. 
	https://jojonari.tistory.com/m/entry/%EB%A7%88%EC%9D%B4%EB%B0%94%ED%8B%B0%EC%8A%A4-%EC%9D%B4%EC%9A%A9%EC%8B%9C-insert-into-select
	 -->
</mapper>