<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="member">
	
	<!-- 아이디 기반으로 회원정보 읽기 -->
	<select id="readMemberById"  parameterType="String" resultType="com.eydiz.member.Member">
		SELECT 
		    m.memberNo, memberId, memberNickname, 
		    memberPwd, memberEmail, memberSocial, available
		FROM member m
		JOIN member_detail md ON m.memberNo = md.memberNo
		WHERE memberId = #{memberId}
	</select>
	
	<!-- 로그인 정보 확인 -->
	<select id="confirmMember" parameterType="com.eydiz.member.Member" resultType="com.eydiz.member.Member">
		SELECT 
		    m.memberNo, memberId, memberNickname, 
		    memberPwd, memberEmail, memberSocial, available
		FROM member m
		JOIN member_detail md ON m.memberNo = md.memberNo
		WHERE memberId = #{memberId} AND memberPwd = #{memberPwd} AND available = 1
	</select>
	
	<!-- 회원 등록하기 -->
	<insert id="insertMember" parameterType="com.eydiz.member.Member">
		INSERT ALL 
		INTO member(memberNo, available) VALUES(member_seq.NEXTVAL, 1)
		INTO member(memberNo, memberId, memberNickname, memberPwd, memberEmail, memberSocial)
		VALUES (#{memberNo}, #{memberId}, #{memberNickname}, #{memberPwd}, #{memberEmail}, #{memberSocial})
	</insert>
	
</mapper>