<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="studio">
	<!-- 브랜드 -->
	<insert id="makeBrand">
		INSERT INTO brand(brandNo, memberNo, brandName, managerName, managerEmail, managerPhone)
		VALUE (brand_seq.NEXTVAL, #{memberNo}, #{brandName}, #{managerName}, #{managerEmail}, #{managerPhone})
	</insert>
	
	<select id="myBrandCount" parameterType="Integer" resultType="Integer">
		SELECT NVL(COUNT(*),0) 
		FROM brand
		WHERE memberNo=#{memberNo}
	</select>
	
	<select id="readBrandByMemberNo" parameterType="Integer" resultType="com.eydiz.studio.Brand">
		SELECT brandNo, memberNo, brandName, managerName, managerEmail, managerPhone
		FROM brand
		WHERE  memberNo=#{memberNo}
	</select>
	
	<insert id="insertBrand" parameterType="com.eydiz.studio.Brand">
		INSERT INTO brand(brandNo, memberNo, brandName, managerName, managerEmail, managerPhone)
		VALUES(brand_seq.NEXTVAL, #{memberNo}, #{brandName}, #{managerName}, #{managerEmail}, #{managerPhone})
	</insert>
	
	<update id="updateBrand" parameterType="com.eydiz.studio.Brand">
		UPDATE brand SET brandName=#{brandName}, managerName=#{managerName}, managerEmail=#{managerEmail}, managerPhone=#{managerPhone}
		WHERE memberNo=#{memberNo}
	</update>
	
	<!-- 프로젝트 -->
	<!-- 프로젝트 카테고리
		카테고리는 대분류, 중분류밖에 없을 것임.
		대분류=> 펀딩 vs 기부
		중분류 => 펀딩의 테크가전, 펀딩의 출판, ..., 후원의 기부/후원
	 -->
	<select id="readAllProjectCategories" resultType="com.eydiz.studio.ProjectCategory">
		SELECT categoryNo, categoryName
		FROM project_category
		WHERE parentCategoryNo is not null
		START WITH parentCategoryNo is not null
		CONNECT BY PRIOR categoryno=parentCategoryNo
		ORDER BY categoryNo ASC
	</select>
	
	<!-- 새로운 프로젝트 번호 얻어오기 -->
	<select id="getNewProjectNo" resultType="Integer">
		SELECT project_seq.NEXTVAL FROM dual
	</select>
	
	<!-- 프로젝트 등록하기 -->
	<update id="insertEmptyProject" parameterType="com.eydiz.studio.Project">
		INSERT ALL
		INTO project(projectNo, brandNo, statusNo) VALUES (#{projectNo}, #{brandNo}, 0)
		INTO project_status_list(projectNo, statusNo, statusMemo) VALUES(#{projectNo}, 0, #{statusMemo, jdbcType=VARCHAR})
		SELECT * FROM dual
	</update>
	
	<!-- 한 번에 등록하는 프로젝트 코드 -->
	<!-- <insert id="insertProject" parameterType="com.eydiz.studio.Project">
		INSERT INTO project(
			projectNo, brandNo, categoryNo, projectName, projectStatusMemo, projectImageUrl, projectGoalAmount, 
			projectCreatedDate, projectUpdatedDate, projectStartDate, projectEndDate, statusNo
		)
		VALUES(
			#{projectNo}, #{brandNo}, #{categoryNo}, #{projectName}, #{projectStatusMemo}, #{projectImageUrl}, #{projectGoalAmount},
			SYSDATE, SYSDATE, #{projectStartDate}, #{projectEndDate}, #{statusNo}
		)
	</insert> -->
	
	<!-- 조인 조건 사용 시 주의 -->
	<sql id="where-projectNo">
		WHERE projectNo = #{projectNo} AND brandNo = #{brandNo}
	</sql>
		
	<!-- 자신의 브랜드 프로젝트 모두 불러오기 -->	
	<select id="listProject" parameterType="map" resultType="com.eydiz.studio.Project">
		SELECT 
			projectNo, p.brandNo, brandName, p.categoryNo, categoryName, projectName, projectStatusMemo, projectImageUrl, projectGoalAmount, 
			projectCreatedDate, projectUpdatedDate, 
			TO_CHAR(projectStartDate, 'YYYYMMDD') projectStartDate, TO_CHAR(projectEndDate,'YYYYMMDD') projectEndDate, 
			statusNo, projectSummary
		FROM project p
		JOIN brand b ON p.brandNo = b.brandNo
		JOIN project_category pc ON p.categoryNo = pc.categoryNo
		WHERE b.brandNo = #{brandNo}
		ORDER BY projectNo DESC
		OFFSET #{offset} ROWS FETCH FIRST #{rows} ROWS ONLY
	</select>
	
	<select id="listProjectCount" parameterType="map" resultType="Integer">
		SELECT NVL(COUNT(*),0)
		FROM project
		WHERE brandNo = #{brandNo}
	</select>
	
	<!-- 프로젝트 정보 불러오기 -->
	<select id="readProject" parameterType="map" resultType="com.eydiz.studio.Project">
		SELECT 
			projectNo, p.brandNo, categoryNo, projectName, projectStatusMemo, projectImageUrl, projectGoalAmount, 
			projectCreatedDate, projectUpdatedDate, 
			TO_CHAR(projectStartDate, 'YYYYMMDD') projectStartDate, TO_CHAR(projectEndDate,'YYYYMMDD') projectEndDate, 
			statusNo, projectSummary, projectStory
		FROM project p 
		JOIN brand b ON b.brandNo = p.brandNo
		WHERE projectNo = #{projectNo} AND p.brandNo = #{brandNo}
	</select>

	<!-- 프로젝트 기본정보 등록하기 -->
	<update id="updateProjectBasic">
		UPDATE project SET projectName=#{projectName}, categoryNo=#{categoryNo}, projectStatusMemo=#{projectStatusMemo}, 
		projectGoalAmount=#{projectGoalAmount}, projectUpdatedDate=SYSDATE, projectStartDate=#{projectStartDate}, projectEndDate=#{projectEndDate}
		<include refid="where-projectNo" />
	</update>

	<!-- 이미지 정보 수정하기 -->
	<update id="updateProjectImage" parameterType="com.eydiz.studio.Project">
		UPDATE project SET projectImageUrl = #{projectImageUrl} 
		<include refid="where-projectNo" />
	</update>
	
	<!-- 이미지 정보 삭제하기 -->
	<update id="updateNullProjectImage" parameterType ="com.eydiz.studio.Project">
		UPDATE project SET projectImageUrl = null
		<include refid="where-projectNo" />
	</update>
	
	<!-- 해시태그 등록/삭제 --> 
	<select id="readHashtag" parameterType="Integer" resultType="com.eydiz.studio.ProjectHashtag">
		SELECT projectNo, keyword
		FROM project_hashtag
		WHERE projectNo = #{projectNo}
		ORDER BY tagNo
	</select>
	
	<insert id="insertHashtag" parameterType="com.eydiz.studio.ProjectHashtag">
		INSERT INTO project_hashtag(tagNo, projectNo, keyword)
		VALUES(project_hashtag_seq.NEXTVAL, #{projectNo}, #{keyword})
	</insert>
	
	<delete id="deleteHashTag" parameterType="com.eydiz.studio.ProjectHashtag">
		DELETE FROM project_hashtag
		WHERE projectNo=#{projectNo} AND keyword=#{keyword}
	</delete>
	
	
	<!-- 리워드 -->
	
	<insert id="insertReward" parameterType="com.eydiz.studio.Reward">
		INSERT INTO reward(
			rewardNo, projectNo, amount, rewardTitle, rewardContent, rewardOption, 
			isShipping, shipAmount, startShippingDate, limitQuantity, remainQuantity)
		VALUES (
			reward_seq.NEXTVAL, #{projectNo}, #{amount}, #{rewardTitle}, #{rewardContent}, #{rewardOption, jdbcType=VARCHAR}, 
			#{isShipping}, #{shipAmount, jdbcType=INTEGER}, #{startShippingDate, jdbcType=VARCHAR}, #{limitQuantity}, #{limitQuantity})
	</insert>
	
	<select id="selectReward" parameterType="map" resultType="com.eydiz.studio.Reward">
		SELECT rewardNo, r.projectNo, amount, rewardTitle, rewardContent, rewardOption, 
			isShipping, shipAmount, TO_CHAR(startShippingDate, 'YYYY-MM-DD') startShippingDate, limitQuantity, remainQuantity
		FROM reward r
		JOIN project p ON r.projectNo = p.projectNo
		WHERE r.projectNo = #{projectNo} AND brandNo=#{brandNo}
		ORDER BY amount DESC
	</select>
	
	<update id="updateReward" parameterType="com.eydiz.studio.Reward">
		UPDATE reward SET 
				projectNo=#{projectNo}, amount=#{amount}, rewardTitle=#{rewardTitle}, rewardContent=#{rewardContent}, 
				rewardOption=#{rewardOption}, isShipping=#{isShipping}, shipAmount=#{shipAmount, jdbcType=VARCHAR}, 
				startShippingDate=#{startShippingDate}, limitQuantity=#{limitQuantity}
		WHERE projectNo = (SELECT projectNo FROM project WHERE projectNo = #{projectNo} AND brandNo = #{brandNo})
		AND rewardNo = #{rewardNo}
	</update>
	
	<delete id="deleteReward" parameterType="map">
		DELETE FROM reward
		WHERE 
				rewardNo = #{rewardNo}
			AND 
				projectNo = 
					(SELECT projectNo FROM project WHERE projectNo=#{projectNo} AND brandNo=#{brandNo})
	</delete>
	
	<!-- 스토리 -->
	<update id="updateStory" parameterType="com.eydiz.studio.Project">
		UPDATE project SET projectSummary=#{projectSummary}, projectStory=#{projectStory}
		WHERE projectNo=#{projectNo} AND brandNo=#{brandNo}
	</update>
	
	<!-- 프로젝트 삭제를 위한 작업 -->
	<sql id="where-project-brand-no">
		projectNo=#{projectNo} AND brandNo=#{brandNo}
	</sql>
	<delete id="deleteProject" parameterType="map">
		DELETE FROM project WHERE <include refid="where-project-brand-no"/> AND (statusNo=0 OR statusNo IS NULL)
	</delete>
	<delete id="deleteProjectList" parameterType="map">
		DELETE FROM project_status_list WHERE projectNo = (SELECT projectNo FROM project WHERE <include refid="where-project-brand-no"/>)
	</delete>
	<delete id="deleteHashtags" parameterType="map">
		DELETE FROM project_hashtag WHERE projectNo = (SELECT projectNo FROM project WHERE <include refid="where-project-brand-no"/>)
	</delete>
	<delete id="deleteRewards" parameterType="map">
		DELETE FROM reward WHERE projectNo = (SELECT projectNo FROM project WHERE <include refid="where-project-brand-no"/>)
	</delete>
	
	<!-- 프로젝트 상태 수정 -->
	<update id="updateProjectStatus" parameterType="map">
		UPDATE project SET statusNo=#{statusNo} WHERE <include refid="where-project-brand-no"/>
	</update>
	
	<!-- 프로젝트 상태 로그 입력 -->
	<update id="insertProjectStatusList" parameterType="map">
		INSERT INTO project_status_list(projectNo, statusNo, statusMemo)
		SELECT p.projectNo, #{statusNo}, #{statusMemo}
		FROM project p
		JOIN brand b ON b.brandNo = p.brandNo
		WHERE p.projectNo = #{projectNo} AND b.brandNo = #{brandNo}
	</update>
	
	
	<!-- 새소식  -->
	
	<insert id="insertProjectNews" parameterType="com.eydiz.studio.ProjectNews">
		INSERT INTO project_news(newsNo, projectNo, createdDate, title, content)
		VALUES(project_news_seq.NEXTVAL, #{projectNo}, SYSDATE, #{title}, #{content})
	</insert>
	
	<sql id="where-list">
		<choose>
			<when test="condition == 'title' ">
				(INSTR(title, #{keyword}) &gt; 0)
			</when>
			<when test="condition == 'createdDate' ">
				(createdDate, #{keyword})
			</when>
		</choose>
	</sql>
	
	<select id="dataCount" parameterType="map" resultType="Integer">
		SELECT NVL(COUNT(*), 0) FROM project_news
		<where>
			projectNo = #{projectNo}
			<if test="keyword!=null and keyword!='' ">
				<include refid="where-list"/>
			</if>
		</where>
	</select>
	
	<select id="listProjectNews" parameterType="map" resultType="com.eydiz.studio.ProjectNews">
		SELECT newsNo, pn.projectNo, createdDate, title, content FROM project_news pn
		JOIN project p ON pn.projectNo = p.projectNo
		<where>
			p.projectNo = #{projectNo}
			<if test="keyword!=null and keyword!='' ">
				<include refid="where-list"/>
			</if>
		   		AND pn.projectNo=#{projectNo}
		</where>
		ORDER BY newsNo DESC
		OFFSET #{offset} ROWS FETCH FIRST #{rows} ROWS ONLY
	</select>
	
	<select id="readProjectNews" parameterType="Integer" resultType="com.eydiz.studio.ProjectNews">
	SELECT newsNo, pn.projectNo, createdDate, title, content FROM project_news pn
		JOIN project p ON pn.projectNo = p.projectNo
		WHERE newsNo = #{newsNo}
	</select>
	
	<update id="updateProjectNews" parameterType="com.eydiz.studio.ProjectNews">
	UPDATE project_news SET title = #{title}, content = #{content}
	WHERE newsNo = #{newsNo}
	</update>
	
	<delete id="deleteProjectNews" parameterType="Integer">
	DELETE FROM project_news WHERE newsNo=#{newsNo}
	</delete>
	
	<!-- 펀딩/후원 현황  -->
	
	<!-- 배송관리 -->
	<sql id="where-sendlist">
		<if test="condition=='buyNo'">
			INSTR(ro.buyNo, #{keyword}) &gt; 0
				
		</if>
		<if test="condition=='rewardTitle'">
			INSTR(rewardTitle, #{keyword}) &gt; 0

		</if>
	</sql>
	
	<select id="listSend" parameterType="map" resultType="com.eydiz.studio.Send">
		SELECT ro.buyNo, ss.statusName, ro.memberNo, ss.statusNo, projectNo, ro.boughtDate
		FROM reward_shipping_location rl
		JOIN reward_buy_overview ro ON ro.buyNo = rl.buyNo
		LEFT OUTER JOIN (
   			SELECT statusNo, statusName FROM shipping_status
		) ss ON ss.statusNo = rl.statusNo
		<where>
			projectNo = #{projectNo} AND ss.statusNo = 0
			<if test="keyword!=null and keyword!='' ">
				AND <include refid="where-sendlist"/>
			</if>
		</where>
		OFFSET #{offset} ROWS FETCH FIRST #{rows} ROWS ONLY
	</select>
	
	<select id="listSendmanage" parameterType="map" resultType="com.eydiz.studio.Send">
		SELECT DISTINCT ro.buyNo, ss.statusName, ro.memberNo, ss.statusNo, r.projectNo, ro.boughtDate, r.isShipping
		FROM reward_shipping_location rl
		JOIN reward_buy_overview ro ON ro.buyNo = rl.buyNo
		JOIN reward_buy_detail rd ON rd.buyNo = ro.buyNo
		JOIN reward r ON r.rewardNo = rd.rewardNo
		LEFT OUTER JOIN (
    		SELECT statusNo, statusName FROM shipping_status
		) ss ON ss.statusNo = rl.statusNo
		<where>
			r.projectNo = #{projectNo} AND r.isShipping = 1 AND ss.statusNo =2
			<if test="keyword!=null and keyword!='' ">
				AND <include refid="where-sendlist"/>
			</if>
		</where>
		OFFSET #{offset} ROWS FETCH FIRST #{rows} ROWS ONLY
	</select>
	
	<select id="listSendready" parameterType="map" resultType="com.eydiz.studio.Send">
		SELECT DISTINCT ro.buyNo, ss.statusName, ro.memberNo, ss.statusNo, r.projectNo, ro.boughtDate, r.isShipping
		FROM reward_shipping_location rl
		JOIN reward_buy_overview ro ON ro.buyNo = rl.buyNo
		JOIN reward_buy_detail rd ON rd.buyNo = ro.buyNo
		JOIN reward r ON r.rewardNo = rd.rewardNo
		LEFT OUTER JOIN (
    		SELECT statusNo, statusName FROM shipping_status
		) ss ON ss.statusNo = rl.statusNo
		<where>
			r.projectNo = #{projectNo} AND r.isShipping = 1 AND ss.statusNo =1
			<if test="keyword!=null and keyword!='' ">
				AND <include refid="where-sendlist"/>
			</if>
		</where>
		OFFSET #{offset} ROWS FETCH FIRST #{rows} ROWS ONLY
	</select>
	
	<select id="sendDataCount" parameterType="map" resultType="Integer">
		SELECT count(rnum) FROM (
            SELECT rownum rnum, ro.buyNo, rl.statusNo, shippingCount
				FROM reward_buy_overview ro
				JOIN reward_shipping_location rl ON ro.buyNo = rl.buyNo
				LEFT OUTER JOIN (
				    SELECT buyNo, projectNo, count(isShipping) shippingCount
				    FROM reward_buy_detail rd
				    JOIN reward r ON r.rewardNo = rd.rewardNo
				    WHERE projectNo = #{projectNo}
				    GROUP BY buyNo, projectNo
				) rr ON rr.buyNo = ro.buyNo
    			<where>
    				rr.projectNo = #{projectNo} AND rl.statusNo = 0
					<if test="keyword!=null and keyword!='' ">
						AND <include refid="where-sendlist"/>
					</if>
				</where>
				)
	</select>
	
	<select id="manageDataCount" parameterType="map" resultType="Integer">
		SELECT count(rnum) FROM (
            SELECT rownum rnum, ro.buyNo, rl.statusNo, shippingCount,
    		CASE WHEN NVL(shippingCount, 0) > 0 THEN 1 ELSE 0 END isShipping
				FROM reward_buy_overview ro
                JOIN reward_shipping_location rl ON rl.buyNo = ro.buyNo
				LEFT OUTER JOIN (
				    SELECT rd.buyNo, count(isShipping)shippingCount
				    FROM reward_buy_detail rd
				    JOIN reward r ON r.rewardNo = rd.rewardNo
                    where projectNo= #{projectNo}
            	    GROUP BY rd.buyNo
				) rr ON rr.buyNo = ro.buyNo
    			<where>
    				NVL(shippingCount, 0) > 0 AND projectNo = #{projectNo} AND rl.statusNo = 2
					<if test="keyword!=null and keyword!='' ">
						AND <include refid="where-sendlist"/>
					</if>
				</where>
				)
	</select>
	
	<select id="readyDataCount" parameterType="map" resultType="Integer">
		SELECT count(rnum) FROM (
            SELECT rownum rnum, ro.buyNo, rl.statusNo, shippingCount,
    		CASE WHEN NVL(shippingCount, 0) > 0 THEN 1 ELSE 0 END isShipping
				FROM reward_buy_overview ro
                JOIN reward_shipping_location rl ON rl.buyNo = ro.buyNo
				LEFT OUTER JOIN (
				    SELECT rd.buyNo, count(isShipping)shippingCount
				    FROM reward_buy_detail rd
				    JOIN reward r ON r.rewardNo = rd.rewardNo
                    where projectNo= #{projectNo}
            	    GROUP BY rd.buyNo
				) rr ON rr.buyNo = ro.buyNo
    			<where>
    				NVL(shippingCount, 0) > 0 AND projectNo = #{projectNo} AND rl.statusNo = 1
					<if test="keyword!=null and keyword!='' ">
						AND <include refid="where-sendlist"/>
					</if>
				</where>
				)
	</select>
	
	<select id="readSend" parameterType="map" resultType="com.eydiz.studio.Send">
		SELECT isShipping, ro.buyNo, statusName, zipCode, address1, address2, recipient, message, startShippingDate, ro.projectNo
		FROM reward_shipping_location rl
		JOIN reward_buy_overview ro ON ro.buyNo = rl.buyNo
        JOIN reward_buy_detail rd ON rd.buyNo = ro.buyNo
		JOIN reward r ON r.rewardNo = rd.rewardNo
		LEFT OUTER JOIN (
		    	SELECT statusNo, statusName FROM shipping_status
		    ) ss ON ss.statusNo = rl.statusNo
		WHERE ro.projectNo = #{projectNo} AND ro.buyNo = #{buyNo}
	</select>
	
	<update id="updateStatusNo" parameterType="Integer">
		UPDATE reward_shipping_location SET statusNo = statusNo+1
		WHERE buyNo = #{buyNo}
	</update>
	
</mapper>