@charset "UTF-8";

.adminProjectNav {
	padding: 3px;
    text-align: center;
    width: 100%;
    border-bottom: 2px solid #e0e0e0;
    margin-top: 86px;
}

.adminProjectNav li {
    width: 100px;
    margin: 0px 130px;
    padding: 10px 0px;
    display: inline-block;
    font-size: 25px;
}

.adminProjectSearchBox {
	float: right;
	display: inline-block;
}
.adminProjectSearchSelect {
	border: 1px solid #e0e0e0;
	color: #696969;
}

.adminProjectSearch {
	margin: 10px;
    border-radius: 20px;
    width: 200px;
    height: 30px;
    border: 1.5px solid #e0e0e0;
    padding: 0px 15px;
    font-size: 15px;
}

.adminProjectSearchBtn {
	width: 42px;
    height: 33px;
    border-radius: 20px;
    border: 0.5px solid #e0e0e0;
    color: #696969;
    font-size: 14px;
    line-height: 30px;
    text-align: center;
    padding: 0px;
}

.adminProjectContentBox {
	width: 90%;
	text-align: center;
	margin-top: 50px;
} 


.adminProjectListTable {
    width: 100%;
    text-align: center;
    margin: 0px 60px;
}

.adminProjectListTable tr:first-child {
    color: #00b2b2;
    font-weight: 700;
}

.adminProjectListTable tr{
	border-top: 1px solid #e0e0e0;
	border-bottom: 1px solid #e0e0e0;
	height: 50px;
	line-height: 50px;
	
}

.adminProjectPaging {
	width: 100%;
	margin: 0px auto;
	height: 50px;
	text-align: center;	
}