@charset "UTF-8";

 .awardsTitleImage {
    	height : 650px;
    	background-image: url("../../images/awards/awardsBackground.jpg");
		background-repeat: no-repeat;
		background-size: cover;
		opacity: 93%;
		background-position-y: -160px;
    }
        
    .awardsTitle {
    	min-width : 100px;
    	min-height : 70px;
    	text-align: center;
    	padding-top: 85px;

    	
    }
    
    .awardsTitleText {
    	font-size: 55px;
	    font-weight: bold;
	    padding-bottom: 20px;
	    color: #29baba;
	    margin: 100px auto 50px;
	    text-shadow: -1px 0 #333333, 0 1px #333333, 1px 0 #333333, 0 -1px #333333;
    }
    
    .awardsTitleSubText {
    	font-size: 17px;
    	color: snow;
    }
    
    .awardTitlePoint {
    	font-weight: bold;
    }
    
    .awardContentTitle {
    	font-size: 35px;
    	padding: 50px;
    	font-weight: bold;
    	color: #333333;
    }
    
    .awardContentTitleSub {
    	padding: 5px;
    }
    
    
    
    .awardBrandCell {
    	width: 300px;
    	display: inline-block;
    }
    
    .awardBrandImage {
    	width: 50px;
    	height: 50px;
    	border-radius: 50%;
    	margin: 0;
    	display: inline-block;
    	float: left;
    }
    
    
    .awardBrandName {
    	display: inline-block;
    	float: left;
    	padding: 15px;
    }
    
    .awardCategory {
    	line-height: 40px;
	    height: 75px;
	    font-size: 28px;
	    color: #544231;
	    margin-top: 100px;
    }
    
    .aCDetail {
    	font-size: 15px;
    	padding-bottom: 10px;
    }
    
    
    .awardContentBody {
   		padding: 0px;
    	width: 90%;
    }
    
    
    .awardMakePJ {
    	height: 160px;
    	line-height : 40px;
    	background-color: #ffda8f;
    	text-align: center;
    	padding: 80px 0;
    }
    
    .pjBtn {
    	background-color: #29baba;
    	color: white;
    	font-size: 15px;
    	font-weight: 600;
    	width: 150px;
    	height: 40px;
    	line-height: 40px;
    	border: 1px solid #333333;
    	text-align: center;
    	margin: 20px;
    }
    
    

    
    .awardsTabBName {
    	text-align: center;
    }
    
    .aTabBDetail {
    	font-size: 12px;
    }
    
    .aTabBDetail p {
    	height: 90px;
    	line-height: 20px;
    }
    
    .awardsTop1 {
    	background-image: url(../../images/awards/iconmonstr-crown-13-96.png);
	    height: 70px;
	    background-repeat: no-repeat;
	    background-size: contain;
	    margin: 0px 114px 13px;
    }
    
    
    
    




.awardsGridContent {
    margin: 20px 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    display: -ms-flexbox;
    float: left;
    -ms-flex-wrap: wrap;
    -ms-flex-direction: row;
    -ms-flex-pack: justify;
    width: 100%;
}


    
    
.awardsItem {
    width: 300px;
    margin-bottom: 50px;
    margin: 20px;
}

.awardsItem .thumbnail {
  cursor: pointer;
  width: 100%;
  height: 180px;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 5px;
  border: 1px solid #e5e5e5;
}

.awardsItem .subject {
  font-size: 1.1rem;
  line-height: 1.5rem;
  font-weight: 800;
}

.awardsItemInner {
  width: 100%;
  margin: 0 auto;
}

.awardsNumberOne {
		margin: 0px 521px;
}

.awardsProjectName {
		display: inline-block;
		height: 48px;
}

/*그리드 설정/해제 지점*/
@media (min-width: 768px) {
}

@media (max-width: 768px) {
  .awardsItem {
    width: 100%;
    clear: both;
    margin-bottom: 20px;
  }
  .awardsGridContent {
    display: block;
    padding: 0 10px;
    width: 100%;
  }
  
  .awardsNumberOne {
    display: block;
    padding: 0px;
    margin : 0px;
    width: 100%;
  }
 
 .awardsItemInner .textWrap {
    float: left;
    width: 58%;
}

.awardsItemInner .thumbnail {
    float: left;
    width: 152px;
    height: 100px;
    margin-right: 10px;
    display: inline-block;
  }
  
.awardsTop1 {
	margin: 0px 183px 13px; 	
}
 
}
  
    
    
    
    
    