.studionewstitle {
	 color: #757575; border: 1.5px solid #d9d9d9; width: 60%;
    height: 48px;
    box-sizing: border-box;
    transition: border ease-in-out 0.3s;
    padding: 10px;
    line-height: 22px;
    overflow:hidden;
	height:auto;
}