@charset "UTF-8";

.aForm {
	width: 50%;
	margin: 0 auto;
}

.atitle {
	padding: 70px 10px 30px 10px;
}

.atitle h2 {
	font-size: 30px;
}

.apeople {
	padding: 10px;
}

.apeople h4 {
	font-size: 20px;
}

.acontent {
	padding: 10px;
	padding-bottom: 100px;
	padding-top: 50px;
}

.contentpre {
	border-bottom: 1px solid silver;
	border-top: 1px solid silver; 
	padding: 10px 0px 10px 0px;
}

.contentnext {
	border-bottom: 1px solid silver;
	padding: 10px 0px 10px 0px;
}

.contentbutton {
	width: 50%;  
	margin: 10px auto;
	padding-top: 10px;
	height: 100px;
}

.contentbutton:after {
	clear: both;
}